
#matchup{
  text-align: center;
  padding-top: 10px;
}
.fighter1{
  display: inline-block;
  -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
}
.fighter1 img{
  width: 30rem;
  height: 30rem;
}
.fighter2{
  display: inline-block;
  -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
}
.fighter2 img{
  display: inline-block;
  width: 30rem;
  height: 30rem;
}
.stats{
  display: inline-block;
}
.fighters img{
  height: 150px;
  width: 150px;
}
